* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/* Cross-site styles */

html, body {
  height: 100%;
  text-align: center;
}

body {
  color: #555;
  background-color: #fff;
  font-family: 'Oswald', sans-serif;
  -webkit-font-smoothing: antialiased;
}

#welcome {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../img/moon.jpg');
  background-attachment: fixed;
  height: 100vh;
}

header {
  color: #fff;
  font-size: 2em;
}

.clickMe {
  display: inline-block;
  border-radius: 10px;
  color: #666;
  font-size: 16px;
  padding: 8px 20px 8px 20px;
  border: solid #666 2px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .3s ease-in-out;
  margin: 20px 0;
}

.clickMe:hover {
    border: solid #C16359 2px;
    color: #C16359;
    background-color: #fff;
}

img {
  max-width: 90%;
}

/* home */

header a.clickMe {
  color: #fff;
  border: solid #fff 2px;
}

header .clickMe:hover {
    color: #C16359;
    background-color: #fff;
}

.main {
  position: absolute;
  top: 10%;
  width: 100%;
}

.inner-div {
  margin: 0 auto;
  max-width: 80%;
  width: 650px;
 /*  height: 100px; */
}


/* Navigation */

nav {
  position: fixed;
/*   background: red; */
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

nav li {
  display: inline-block;
}

nav a {
  display: block;
  color: #555;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
  padding: 20px 60px;
  transition: all ease 0.5s;
}

nav a:hover {
  color: #C16359;
}

.hamburger {
  display: none;
}

/*text styles*/

h1 {
  margin: 1em 0 .5em;
  letter-spacing: 1px;
  text-transform: uppercase; 
}

h2 {
  margin: 1em 0 .5em;
  letter-spacing: .8px;
  text-transform: uppercase; 
}

li {
  list-style-type: none;
}

li a {
  text-decoration: none;
}

p {
  font-family: 'Lato', sans-serif;
  line-height: 1.8;
  margin-bottom: 14px;
}

#title {
  margin: 0;
  font-size: 2em;
  transition: .3s all ease-in-out;
  position: relative;
  right: 0;
} 

#title:hover {
  transform: scale(.95,.95);
}


/*Projects*/

.projects {
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
}

.projects img {
  margin: -25px;
  position: relative;
  top: 0;
  transition: all ease 0.5s;
}

img:hover {
  top: 50px;
}

/*Work*/

.work {
  margin: 0 auto;
  max-width: 80%;
  width: 650px;
}

.work ul {
  list-style-type: none;
}

.work li img {
  float: left;
  margin: 0 15px 0 0;
}

.work li {
  text-align: left;
  padding: 10px;
  overflow: auto;
}

.work li:hover {
  background: #eee;
  cursor: pointer;
}


/* Responsive Styles */

@media only screen and (max-width: 900px) {

  nav a {
    padding: 20px 35px;
  }

.projects img {
  margin: -5px;
}


}



@media only screen and (max-width: 500px) {

  html {
    font-size: 12px;
  }

  nav a {
    padding: 20px 20px;
  }

  .work {
    display: flex;
    flex-flow: column nowrap;
  }

  .work li img {
    float: none;
    width: 100%;
  }

  .work li {
    text-align: center;
    padding: 10px;
  }

  .work li:hover {
    background: #eee;
    cursor: pointer;
  }

  .projects img {
  margin: 10px;
}


  work p {
    font-size: 0.8rem;
  }

}


